name: CI/CD Pipeline

on:
  push:
    branches: ["main"]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Log in to GHCR
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: sncharanraj
        password: ${{ secrets.CAR_PAT }}

    - name: Build Image
      run: |
        docker build -t ghcr.io/sncharanraj/devops-app:latest .

    - name: Push Image
      run: |
        docker push ghcr.io/sncharanraj/devops-app:latest

    - name: Deploy to VM via SSH
      uses: appleboy/ssh-action@v0.1.7
      with:
        host: ${{ secrets.VM_HOST }}
        username: ${{ secrets.VM_USER }}
        key: ${{ secrets.VM_SSH_KEY }}
        script: |
          docker pull ghcr.io/sncharanraj/devops-app:latest
          docker stop devops-app || true
          docker rm devops-app || true
          docker run -d --name devops-app -p 5000:5000 ghcr.io/sncharanraj/devops-app:latest
